Package: com.iosrouter.ccblue
Name: CCBlue
Depends: com.opa334.ccsupport, com.muirey03.libimagepicker
Version: 1.1.0
Architecture: iphoneos-arm
Description: A ToothModule remake updated for rootless!
Maintainer: iosrouter
Author: iosrouter
Section: Control Center (Modules)
