Package: com.iosrouter.ccblue
Name: CCBlue
Depends: com.opa334.ccsupport
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Control Center module!
Maintainer: iosrouter
Author: iosrouter
Section: Control Center (Modules)
